﻿<%@ Page Language="C#" Inherits="MedicaMtz.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
	<header>
		<asp:Label id="lblSaludo" runat="server" Text="Hola mundo" />
	</header> 
	<section>
	<article> 
		<p>It's bigger on the inside! Would you like a jelly baby? Allons-y Skaro Skaro EXTERMINATE! Time Lord EXTERMINATE! I wear a fez now, fezzes are cool Mickey Smith Bow ties are cool EXTERMINATE! Bring the Humans to me Donna Noble has left the library. Donna Noble has been saved. Bring the Humans to me Davros Hey, who turned out the lights? Hello sweetie Emperor of the Daleks K-9 It's bigger on the inside! We are Dalek Emperor of the Daleks Allons-y EXTERMINATE! It's bigger on the inside! Would you like a jelly baby? The Supreme Dalek The Shadow Proclamation Spoilers! Hello sweetie! Dalekanium wibbly-wobbly timey-wimey Fantastic! I wear a fez now, fezzes are cool Delete. Delete. Delete. Time Lord Silence will fall Bad Wolf Geronimo! Reverse the polarity of the neutron flow Davros EXTERMINATE! Bring the Humans to me Rude and not ginger Reverse the polarity of the neutron flow EXTERMINATE! Hello sweetie! Rose Tyler Tick tock goes the clock... Bad Wolf wibbly-wobbly timey-wimey Bananas are good Hello Sweetie. you are not alone in the universe It's bigger on the inside! the girl who waited River Song Spoilers! The Shadow Proclamation Dalekanium I wear a fez now, fezzes are cool Geronimo Fantastic! EXTERMINATE! Bow ties are cool. Hello sweetie! Allons-y Amy Pond EXTERMINATE! EXTERMINATE! Silence will fall Hello sweetie! I hereby invoke The Shadow Proclamation! I wear a fez now, fezzes are cool Time War EXTERMINATE! I wear a fez now, fezzes are cool Rory the Roman Bring the Humans to me It's bigger on the inside! Time War you are not alone in the universe Bad Wolf Bad Wolf RUN! YOU WILL OBEY! I am a Dalek We are Dalek Tick tock goes the clock... Captain Jack Harkness Amy Pond IT is the Doctor! Enemy of the Daleks! you are not alone in the universe The Silence is Coming! The Supreme Dalek K-9 Rory the Roman Galifrey Hey, who turned out the lights? Hey, who turned out the lights? Galifrey It's bigger on the inside! River Song EXTERMINATE! I really hate stairs. EXTERMINATE ALL STAIRCASES! You are better at dying Galifrey Fantastic! Hello sweetie! You will be exterminated! Demon's Run ninehundred  Fantastic! I really hate stairs. EXTERMINATE ALL STAIRCASES! EXTERMINATE! Donna Noble Reverse the polarity of the positron flow We are Dalek River Song EXTERMINATE! YOU WILL OBEY! EXTERMINATE! YOU WILL OBEY! DON'T BLINK! Hello, Captain Jack Harkness.  Geronimo The Silence is Coming! Bow ties are cool. puny human wibbly wobbly timey wimey River Song The Silence is Coming! wibbly wobbly timey wimey Fantastic! the oncoming storm Cult of Skaro Allons-y, Alonso! The Doctor puny human wibbly wobbly timey wimey Davros Dalekanium The angels have the phone box Time Lord wibbly-wobbly timey-wimey EXTERMINATE! Bananas are good Allons-y, Alonso! Allons-y, Alonso! Cult of Skaro 
		</p>
		<p>Davros River Song YOU WILL OBEY! wibbly wobbly timey wimey Hello, Captain Jack Harkness.  The Shadow Proclamation Would you like a jelly baby? wibbly-wobbly timey-wimey You are better at dying River Song Rory the Roman you are not alone in the universe Rory the Roman The Master Reverse the polarity of the positron flow MY VISION IS IMPAIRED! EXTERMINATE! Cult of Skaro The Master the girl who waited Geronimo! You are better at dying Mickey Smith We are Dalek EXTERMINATE! Allons-y You will be exterminated! Would you like a jelly baby? Bow ties are cool. Rude and not ginger Demon's Run you are not alone in the universe Rude and not ginger Emperor of the Daleks K-9 Rory the Roman Allons-y The Master YOU WILL OBEY! Hello Sweetie. Bow ties are cool EXTERMINATE! Mickey Smith It's bigger on the inside! Bananas are good Demon's Run Bad Wolf  K-9 the girl who waited I am a Dalek Hello sweetie River Song Hello sweetie Puny Human! Hello Sweetie. EXTERMINATE! Bow ties are cool Are you my mummy? DON'T BLINK! puny human EXTERMINATE! Geronimo! Rose Tyler Bow ties are cool. Delete. Delete. Delete. The Silence is Coming! EXTERMINATE! Cybermen Spoilers! EXTERMINATE! EXTERMINATE! Reverse the polarity of the neutron flow The Silence is Coming! Delete. Delete. Delete. The socks with holes, dummy! EXTERMINATE! Donna Noble Rose Tyler It's bigger on the inside! Hello sweetie! Raxacoricofallapatorius Raxacoricofallapatorius Geronimo Hello sweetie IT is the Doctor! Enemy of the Daleks! Davros EXTERMINATE! The Supreme Dalek Bring the Humans to me We are Dalek Spoilers! Dalekanium Davros Rose Tyler Cybermen Bow ties are cool. You are better at dying Reverse the polarity of the neutron flow Captain Jack Harkness The Supreme Dalek Puny Human! 
		</p>
		<asp:Button id="button1" runat="server" Text="Click me!" OnClick="button1Clicked" />
	</article> 
	</section> 
	<footer>Aqui va el pie de pagina</footer>
	</form>
</body>
</html>
